/* styles.css */

body {
    font-family: 'Helvetica'/*, sans-serif*/;
    background-color: #333;  /* Dark theme background color */
    color: #fff;            /* Dark theme text color */
    transition: background-color 0.3s, color 0.3s;
    padding: 50px; /* Add padding to the body */
}

h1, h2 {
    color: inherit;  /* Inherit text color from the body */
    text-align: center;
}

button {
    text-align: center;
    background-color: #444;  /* Dark theme result background color */
    border: none;
    color: #fff;            /* Dark theme result text color */
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

#checklistForm label {
    display:inline;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 3px;
}

#checklistForm input[type="checkbox"] {
    margin-bottom: 15px;
    /* Hide the default checkbox */
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Use a solid-colored grey box */
    /* background-color: #ccc;
    border: 0px solid #999;
    border-radius: 0px; */
    width: 0px;
    height: 0px;
    /*vertical-align: middle;*/
    /*display: inline-block;
    position: relative;
    /* Add some padding to the left for visual spacing */
    /*padding-left: 30px;*/
    /*cursor: pointer;*/
    visibility: hidden;
    /*display:none;*/
}

#checklistForm input[type="checkbox"]:checked + label {
    /* Change the color when checked to red */
    background-color: #003057;
}

#checklistForm input[type="checkbox"]:hover:not(:checked) + label {
    /* Darken the color on hover when unchecked */
    background-color: #444;
    color: #fff;
}

#checklistForm input[type="checkbox"]:hover:checked + label {
    /* Darken the color on hover when unchecked */
    background-color: #104067;
}

#checklistForm input[type="checkbox"]::before + label {
    /* Create a pseudo-element to represent the checkmark */
    /*content: '\2713'; /* Unicode checkmark character */
    font-size: 16px;
    color: #fff;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    opacity: 0; /* Initially hidden */
}

#checklistForm input[type="checkbox"]:checked::before + label {
    /* Show the checkmark when the checkbox is checked */
    opacity: 1;
}

form {
    margin-bottom: 20px;
}

#checklistForm {
    column-count: 5;  /* Adjust the number of columns as needed */
    /*align-items:center;*/
    text-align: center;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #444;  /* Dark theme result background color */
    color: #fff;            /* Dark theme result text color */
    text-align: center;
}

/* Light theme styles (overrides dark theme styles when body has .light-theme class) */
body.light-theme {
    background-color: #fff;
    color: #333;
}

body.light-theme h1, body.light-theme h2 {
    color: inherit;
}

body.light-theme button {
    background-color: #fff;
    color: #333;
}

body.light-theme #result {
    background-color: #fff;
    color: #333;
}

body.light-theme #checklistForm input[type="checkbox"]:checked + label {
    /* Change the color when checked to red */
    color:#fff;
}

body.light-theme #checklistForm input[type="checkbox"]:hover:not(:checked) + label {
    /* Darken the color on hover when unchecked */
    background-color: #ddd;
    color:#333
}

body.BME-theme .toggleButton {
    background-color: #003057;
    color:#fff
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 599px) {
    #checklistForm {
        column-count: 1;  /* Change to a single column for smaller screens */
    }
}

/* Responsive adjustments for medium screens */
@media screen and (min-width: 600px) and (max-width: 699) {
    #checklistForm {
        column-count: 2;  /* Change to two columns for medium-sized screens */
    }
}

/* Original Measurements: 1025, 769, 768 */

/* Responsive adjustments for larger screens */
@media screen and (min-width: 700px) and (max-width: 849) {
    #checklistForm {
        column-count: 3;  /* Change to three columns for larger screens */
    }
}

@media screen and (min-width: 850px) and (max-width: 1024) {
    #checklistForm {
        column-count: 4;  /* Change to three columns for larger screens */
    }
}

@media screen and (min-width: 1025px) {
    #checklistForm {
        column-count: 5;  /* Change to three columns for larger screens */
    }
}